* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    min-height: 100vh;
    padding-top: 94px;
}

.header-image {
    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -55px;
    position: relative;
}

.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(41, 45, 51, 0.75);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 94px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid  #EBEBF033;
    color: #FFF;
    transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
    background-color: #FAFBFC;
    color: #292D33;
    height: 74px;
}

.navbar-light .header-phone-link {
    color: #292D33;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0px 50px; 
    border-right: 1px solid #EBEBF033;
    height: 100%;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0 50px;
    margin: 0;
    gap: 53px;
}

.header-nav-link {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.header-phone {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    margin-right: 50px;
}

.header-phone-link {
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}

.button {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFF;
    background: #5C8EE5;
    padding: 25px 60px;
    border: none;
    cursor: pointer;
}

.navbar-button {
    flex-shrink: 0;
    height: 100%;
    padding: 25px 44px;
}

.header-content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: #FFF;
}

.separator {
    background: #5C8EE5;
    width: 150px;
    height: 2px;
}

.header-title {
    max-width: 1080px;
    font-family: 'Bebas Neue';
    font-size: 80px;
    line-height: 120%;
    margin: 30px 0px;
    letter-spacing: 0.8px;
    word-spacing: -1.6px;
    margin-top: 23px;
    margin-bottom: 38px;
}

.header-text {
    max-width: 720px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 50px;
}

.header-features {
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    color: #FFF;
    position: relative;
}

.header-features-item {
    padding: 28px 50px;
    width: 288px;
    border: 1px solid #EBEBF033;
}

.header-button {
    padding: 26px 61px;
}

.header-features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
    margin-top: 18px;
}

.header-features-item:not(:last-child) {
    border-right: none;
}

.section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-title {
    font-family: 'Bebas Neue';
    font-size: 60px;
    line-height: 120%;
    color: #292D33;
    margin-top: 24px;
    letter-spacing: 0.3px;
}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
}

.steps-item {
    max-width: 330px;
}

.steps-num {
    font-family: 'Bebas Neue';
    font-size: 48px;
    line-height: 120%;
    color: #5C8EE5;
    display: flex;
    align-items: center;
}

.steps-num::after {
    content: "";
    height: 1px;
    background: #EBEBF0;
    width: 100%;
    display: inline-block;
    margin-left: 30px;
}

.steps-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    color: #292D33;
    margin-top: 35px;
    margin-bottom: 10px;
}

.steps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
    margin-top: 11px;
    margin-bottom: 22px;
    padding-right: 30px;
    letter-spacing: 0.1px;
}

.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #5C8EE5;
    letter-spacing: 0.3px;
}

.steps-link::before {
    content: "";
    height: 1px;
    background: #5C8EE5;
    width: 40px;
    margin-right: 20px;
}