* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.header {
  padding-top: 5.875rem;
  background-color: #f0f2f5;
}

body.front-page .header-image {
  background-image: url("../img/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.4375rem;
  position: relative;
}

.header-image {
  background-image: url("../img/blog/blog-post.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -12.5rem;
  position: relative;
}

.page-header {
  padding-top: 9.375rem;
  padding-bottom: 3.125rem;
  color: #292d33;
  position: relative;
}

.page-header-bg-image {
  background-image: url("../img/blog/blog-post.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.page-header-bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.page-header-bg-image .container {
  position: relative;
}

.page-header-bg-grey {
  background-color: #f0f2f5;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #828a99;
}

.breadcrumbs-item.active .breadcrumbs-link {
  color: #292d33;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "—";
  margin-left: 10px;
}

.page-header-bg-image .breadcrumbs-link,
.page-header-bg-image .breadcrumbs-item.active .breadcrumbs-link {
  color: #fff;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #ebebf033;
  color: #fff;
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fafbfc;
  color: #292d33;
}

.navbar-scroll {
  height: 4.625rem;
}

.navbar-light .header-phone-link {
  color: #292d33;
}

.navbar-light .logo-light {
  display: none;
}

.navbar-light .logo-dark {
  display: block;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0rem 3.125rem;
  border-right: 1px solid #ebebf033;
  height: 100%;
}

.phone-icon {
  fill: #5c8ee6;
}

.logo-dark {
  display: none;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
  /*gap: 3.3125rem;*/
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.3125rem;
}

.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}

.header-nav-link:after {
  content: "";
  width: 0px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee5;
  height: 2px;
  transition: width 0.2s;
}

.header-nav-link:hover::after {
  width: 100%;
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;
  background: #5c8ee5;
  padding: 1.5625rem 3.75rem;
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2.75rem;
}

.navbar-button .button-icon {
  display: none;
}

body.front-page .header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-content {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  position: relative;
}

.separator {
  background: #5c8ee5;
  width: 9.375rem;
  height: 2px;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0rem;
  letter-spacing: 0.8px;
  word-spacing: -1.6px;
  margin-top: 1.4375rem;
  margin-bottom: 2.375rem;
}

.header-content-image {
  position: absolute;
  right: 15rem;
  bottom: 0;
  display: none;
  height: 15rem;
  width: 30rem;
}

.header-bg-grey-image .header-content-image {
  display: block;
}

.header-text {
  max-width: 45rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

body.front-page .header-features {
  color: #fff;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #292d33;
  position: relative;
  margin-bottom: 0;
}

.header-features-item {
  padding: 1.75rem 3.125rem;
  height: auto;
  width: 18rem;
  border: 1px solid #ebebf033;
}

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid #ebebf033;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

body.front-page .slider-arrow-prev,
body.front-page .slider-arrow-next {
  fill: #fff;
}

.slider-arrow-prev,
.slider-arrow-next {
  fill: #292d33;
}

.header-button {
  padding: 1.625rem 3.8125rem;
}

.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-light {
  margin-bottom: 0;
}

.production {
  margin-top: 7.6rem;
  margin-bottom: 6.6rem;
}

.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.5rem;
  letter-spacing: 0.3px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
  margin: 0;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  font-family: "Bebas Neue";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  display: inline-block;
  margin-left: 1.875rem;
}

.steps-title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.6875rem;
  margin-bottom: 1.375rem;
  padding-right: 1.875rem;
  letter-spacing: 0.1px;
}

.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  letter-spacing: 0.3px;
}

.button-link::before {
  content: "";
  height: 1px;
  background: #5c8ee5;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.button-link:hover::before {
  width: 3.75rem;
}

.primary-buttons-wrapper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.primary-button-prev,
.primary-button-next {
  background: #5c8ee5;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.steps-buttons {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.7rem;
}

.card {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
  height: 593px;
}

.card:hover .card-title {
  color: #5c8ee5;
}

.card:hover {
  border-color: #5c8ee5;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}

.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
}

.card-image {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.trademarks-title {
  letter-spacing: 0.6px;
  margin-bottom: 3.4rem;
  line-height: 117%;
}

.trademarks-cards {
  display: flex;
  flex-wrap: wrap;
}

.trademarks-card {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 57px 123px;
  grid-template-areas:
    "logo title title"
    "logo text text";
  flex-basis: 50%;
  border: 1px solid #ebebf0;
  padding: 3.125rem;
  transition: border 0.2s;
  text-decoration: none;
}

.trademarks-card:hover {
  border-color: #5c8ee5;
}

.trademark-svg {
  grid-area: logo;
  width: 100%;
  height: 100%;
  fill: #828a99;
  transition: fill 0.2s;
}

.trademarks-card:hover .trademark-svg {
  fill: #5c8ee5;
}

.trademarks-card-title {
  grid-area: title;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
  padding-left: 50px;
}

.trademarks-card:hover .trademarks-card-title {
  color: #5c8ee5;
}

.trademarks-card-text {
  grid-area: text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
  color: #828a99;
  margin: 0;
  padding-left: 3.125rem;
  padding-right: 1.875rem;
}

.founder {
  position: relative;
  min-height: 41.25rem;
}

.founder-title {
  letter-spacing: 0.5px;
  margin-bottom: 1.6875rem;
}

.founder-foto {
  position: absolute;
  left: -4px;
  top: 0;
  width: 44%;
  height: 100%;
  object-fit: cover;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.founder-content {
  width: 45rem;
  padding-top: 3.125rem;
}

.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin: 0;
  word-spacing: 2px;
  letter-spacing: 0.05px;
  margin-bottom: 1.5rem;
}

.founder-button-link {
  letter-spacing: 0.1px;
  margin-top: 1.875rem;
}

.clients-wrapper {
  display: flex;
  gap: 1rem;
}

.clients-title {
  letter-spacing: 0.7px;
  margin-bottom: 2.875rem;
  line-height: 119%;
  word-spacing: -2px;
}

.clients-content {
  flex-basis: 50%;
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.25rem;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  padding-top: 1.875rem;
}

.clients-logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  padding: 44px 14px;
}

.clients-logo-item:hover .clients-logo {
  filter: none;
}

.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.blog-title {
  margin-bottom: 3.5rem;
}

.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: #ffffff;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #292d3399;
  z-index: -1;
}

.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: 10px;
  margin-top: 0;
}

.blog-card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}

.bg-grey {
  background: #f0f2f5;
}

.cta {
  margin-top: 14.5rem;
}

.section-cta {
  position: relative;
  padding-top: 3.875rem;
  margin-top: 9.375rem;
  padding-bottom: 6.25rem;
}

.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta-form {
  max-width: 52.5rem;
}

.cta-form-title {
  word-spacing: -3px;
  margin-bottom: 0;
  padding-right: 23.625rem;
}

.cta-form-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 1.6875rem;
  margin-bottom: 3.125rem;
  max-width: 40rem;
  word-spacing: 0.4px;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group-vertical {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background: #f0f2f5;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}

.input.is-invalid {
  border: 1px solid red;
}

.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: inherit;
  transform: translateY(-50%);
  font-size: 0.8rem;
  display: inline-block;
}

.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.875rem;
  font-weight: 400;
  font-size: 16px;
  color: #828a99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus {
  border: 1px solid #5c8ee5;
  outline: none;
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  font-size: 0.625rem;
  top: -0.3125rem;
  left: 1.25rem;
  background: inherit;
  padding: 0 10px;
}

.cta-form-footer {
  display: flex;
  margin-top: 1.875rem;
  gap: 1.875rem;
  align-items: center;
}

.cta-form-button {
  flex-shrink: 0;
  font-size: 0.875rem;
  padding: 1.25rem 3.125rem;
  letter-spacing: 0.4px;
}

.notify {
  display: flex;
  justify-content: flex-start;
  gap: 0.625rem;
}

.notify-icon {
  flex-shrink: 0;
}

.notify-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
  max-width: 23.75rem;
  word-spacing: 0.7px;
}

.footer-top {
  padding-top: 3.125rem;
  padding-bottom: 2.5625rem;
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 12.5rem;
  height: 3.9375rem;
}

.footer-phone {
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  text-decoration: underline;
  color: #292d33;
  margin-left: 10rem;
  margin-right: 5.125rem;
}

.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #292d33;
  gap: 10px;
  margin-right: 3.125rem;
}

.footer-info-address,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  word-spacing: 0.7px;
}

.footer-social {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.footer-social-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-separator {
  color: #ebebf0;
}

.footer-bottom {
  padding-top: 2.6875rem;
  padding-bottom: 1.625rem;
  display: flex;
}

.footer-menu-wrapper:last-child {
  margin-left: 10.375rem;
}

.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}

.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 45.0625rem;
}

.footer-menu-link {
  text-decoration: none;
  color: #828a99;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0.9375rem;
  display: block;
  letter-spacing: 0.2px;
}

.footer-menu-link-bold {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.875rem;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
}

.footer-wrapper {
  padding-top: 0;
  padding-bottom: 1.25rem;
  color: #828a99;
}

.footer-policy {
  word-spacing: 2.1px;
}

.footer-copyright,
.footer-policy {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: inherit;
}

.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.1875rem;
}

.made-in {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: inherit;
}

.footer-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-dialog {
  margin: auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  background-color: #ffffff;
  position: relative;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.3s, opacity 0.3s;
}

.modal-phone {
  display: block;
}

.modal-success {
  display: none;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  height: 3.125rem;
  width: 3.125rem;
  border: 1px solid #ebebf0;
}

.modal-success-image {
  width: 22.5rem;
  height: 19.375rem;
  margin-bottom: 30px;
}

.modal-title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 30px;
}

.modal-input {
  background-color: #ffffff;
}

.modal-input-group {
  background-color: #ffffff;
}

.modal-form-footer {
  margin-top: 30px;
}

.modal-form-button {
  margin-bottom: 24px;
  width: 100%;
}

.success-button {
  width: 100%;
}

.experts {
  margin-top: 6.25rem;
  margin-bottom: 0;
}

.experts-wrapper {
  display: flex;
}

.experts-img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.experts-content {
  padding: 3.125rem 0rem 3.25rem 7.5rem;
}

.experts-title {
  max-width: 37.5rem;
  margin-bottom: 1.25rem;
}

.experts-text {
  font-weight: 400;
  line-height: 160%;
  font-size: 1rem;
  color: #828a99;
  max-width: 52.5rem;
}

.mission-wrapper {
  display: flex;
  gap: 7.5rem;
}

.mission-content {
  padding-top: 3.125rem;
}

.mission-img {
  width: 37.5rem;
  height: 46.875rem;
  object-fit: cover;
}

.mission-title {
  margin-bottom: 1.25rem;
}

.mission-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 1.875rem;
  margin-top: 0;
  max-width: 45rem;
}

.image-swiper-wrapper {
  padding-right: 13.125rem;
  padding-left: 13.125rem;
}

.image-card {
  min-height: 25rem;
  max-width: 44.0625rem;
}

.image-buttons {
  margin-top: 1.875rem;
}

.study-title {
  max-width: 37.5rem;
  margin-bottom: 1.25rem;
}

.study-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.25rem;
  margin-bottom: 3.125rem;
}

.study-text {
  max-width: 39.6875rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin: 0;
}

.seo {
  margin-top: 6.25rem;
}

.seo-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
}

.seo-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.seo-link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.chem-production {
  margin-bottom: 0;
}

.chem-production-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 7.5rem;
}
.chem-production-image {
  width: 37.5rem;
  height: 46.875rem;
  object-fit: cover;
}

.chem-production-content {
  padding-top: 3.125rem;
}

.chem-production-title {
  margin-bottom: 1.25rem;
}

.chem-production-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.chem-manufacturing {
  margin-top: 9.375rem;
  position: relative;
}

.chem-manufacturing-wrapper {
  display: flex;
  justify-content: flex-start;
}

.chem-manufacturing-content {
  padding-top: 3.125rem;
  padding-bottom: 6.875rem;
}

.chem-manufacturing-title {
  margin-bottom: 1.25rem;
}

.chem-manufacturing-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  max-width: 45rem;
  margin-bottom: 1.875rem;
}

.chem-manufacturing-list {
  padding: 0;
  columns: 2 auto;
}

.chem-manufacturing-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.25rem;
}

.chem-manufacturing-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 44%;
  object-fit: cover;
}

.chemistry-types-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  max-width: 52.5rem;
  margin-bottom: 3.125rem;
}

.chemistry-types-list {
  list-style: none;
  padding: 0;
  columns: 4 auto;
}

.chemistry-types-item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  max-width: 19rem;
}

.chemistry-types-item::before {
  content: "";
  height: 1px;
  width: 16px;
  margin-right: 1.25rem;
  background: #5c8ee5;
}

.prod-ag-tech {
  margin-top: 6.25rem;
  margin-bottom: 0;
}

.prod-ag-tech-wrapper {
  display: flex;
  gap: 7.5rem;
}

.ag-tech-image {
  width: 37.5rem;
  height: 46.875rem;
  object-fit: cover;
}

.prod-ag-tech-content {
  padding-top: 3.125rem;
}

.prod-ag-tech-title {
  margin-bottom: 1.25rem;
}

.prod-ag-tech-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 1.875rem;
}

.distributor {
  background-color: #F0F2F5;
  position: relative;
}

.distributor-wrapper {
  display: flex;
  justify-content: flex-start;
}

.distributor-content {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.prod-ag-tech-title {
  max-width: 45rem;
  margin-bottom: 1.25rem;
}

.distributor-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  max-width: 45rem;
  margin-bottom: 1.875rem;
}

.distributor-list {
  padding: 0;
  list-style-type: none;
  columns: 2 auto;
  margin-bottom: 1.875rem;
}

.sistributor-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
}

.distributor-button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5625rem 3.75rem;
}

.distributor-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 1710px) {
  html {
    font-size: 14px;
  }

  .footer-phone {
    margin-left: 8rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }

  .header-logo {
    padding: 2rem;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav {
    padding-left: 2rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone {
    margin-right: 2rem;
  }

  .cta-form-title {
    padding-right: 22.625rem;
  }
}

@media (max-width: 1320px) {
  .cta-form-title {
    padding-right: 19.625rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }

  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.8rem;
  }

  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .slider-buttons {
    display: flex;
  }

  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }

  .steps-buttons {
    display: flex;
  }

  .primary-buttons-wrapper {
    height: 40px;
  }

  .card {
    flex-basis: 50%;
  }

  .trademarks-card {
    grid-template-columns: auto auto;
  }

  .founder-content {
    max-width: 35rem;
  }

  .clients-content {
    flex-basis: 60%;
  }

  .cta-image {
    display: none;
  }

  .cta-form-wrapper {
    justify-content: center;
  }

  .footer-phone {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2.125rem;
  }

  .footer-menu-wrapper:last-child {
    margin-left: 6.375rem;
  }

  .header-content-image {
    right: 6.25rem;
  }

  .chem-production-wrapper {
    gap: 1.875rem;
  }

  .chem-manufacturing-content {
    padding-bottom: 3.875rem;
  }

  .chem-manufacturing-image {
    width: 41%;
  }

  .chem-manufacturing-text {
    max-width: 35rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .header-title {
    font-size: 4rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem 2.5rem;
    border-right: 1px solid #ebebf033;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .navbar-light .mobile-menu-line {
    background-color: #292d33;
  }

  .logo-svg {
    width: 10rem;
    height: 3.1rem;
    max-width: 10rem;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  .navbar-button .button-text {
    display: none;
  }

  .navbar-button .button-icon {
    display: block;
    fill: white;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.3rem;
  }

  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .social-icon {
    margin-right: 1rem;
  }

  .trademarks-cards {
    flex-direction: column;
  }

  .clients-wrapper {
    flex-direction: column;
  }

  .founder-foto {
    width: 40%;
    left: 0;
  }

  .footer-top {
    padding-top: 2.125rem;
    padding-bottom: 1.5625rem;
  }

  .footer-logo {
    width: 8rem;
  }

  .footer-phone {
    font-size: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.125rem;
  }

  .footer-info {
    gap: 0px;
    margin-right: 0.625rem;
  }

  .footer-social {
    margin-left: 0.5rem;
  }

  .footer-menu-column-2 {
    columns: 16rem 2;
    min-width: 35.0625rem;
  }

  .experts-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chem-production-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chem-production-image {
    max-width: 100%;
    height: 430px;
  }

  .chem-manufacturing-content {
    padding-bottom: 50px;
  }

  .chemistry-types-list {
    columns: 3 auto;
  }

  .study-content {
    gap: 2.25rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .header-title {
    font-size: 4rem;
  }

  .header-content {
    padding-top: 3rem;
  }

  .card {
    flex-basis: 100%;
  }

  .founder-foto {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }

  .input-group-wrapper {
    flex-direction: column;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-logo {
    width: 10rem;
  }

  .footer-phone {
    font-size: 28px;
  }

  .footer-info {
    font-size: 14px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .footer-legal {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .footer-policy {
    font-size: 12px;
  }
  .footer-copyright {
    margin: 0;
    font-size: 12px;
  }

  .made-in {
    font-size: 12px;
  }

  .header-bg-grey-image .header-content-image {
    display: none;
  }

  .chem-manufacturing-image {
    position: relative;
    width: 100%;
  }

  .chemistry-types-list {
    columns: 2 auto;
  }

  .hidden-text {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 92%;
  }

  .header-content {
    padding-top: 3.9rem;
  }

  .separator {
    width: 8.375rem;
  }

  .header-title {
    letter-spacing: 0.3px;
    margin-bottom: 1.375rem;
  }

  .header-text {
    font-size: 1.2rem;
    line-height: 154%;
    letter-spacing: -0.08px;
    margin-bottom: 2.25rem;
  }

  .header-button {
    width: 100%;
    font-size: 1.2rem;
  }

  .header-features {
    margin-top: 4.1rem;
  }

  .header-features-item {
    padding: 1.75rem 2.6rem;
  }

  .header-features-text {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-light {
    margin-top: 9.56rem;
  }

  .steps-item {
    max-width: 25.625rem;
  }

  .steps-num {
    font-size: 4rem;
  }

  .steps-title {
    margin-top: 1rem;
    letter-spacing: -0.4px;
    margin-bottom: 0;
  }

  .steps-text {
    font-size: 1.2rem;
    margin-top: 0.15rem;
    letter-spacing: -0.1px;
    margin-bottom: 2.2rem;
  }

  .button-link {
    font-size: 1.2rem;
  }

  .button-link::before {
    width: 3.4rem;
    margin-right: 1.6rem;
  }

  .steps-buttons {
    margin-top: 1.5rem;
  }

  .production {
    margin-top: 8.2rem;
  }

  .cards {
    margin-top: 2.8rem;
  }

  .card {
    height: 429px;
  }

  .card-content {
    height: 429px;
    padding: 1.5rem 2.5rem;
  }

  .card-title {
    letter-spacing: -0.5px;
  }

  .card-text {
    margin-top: 0;
    letter-spacing: -0.2px;
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 24.1rem;
  }

  .card-image {
    width: 100%;
  }

  .trademarks {
    margin-top: 8.2rem;
    margin-bottom: 0;
  }

  .trademarks-title {
    letter-spacing: 0.3px;
  }

  .trademarks-card {
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas:
      "logo title"
      "text text";
    grid-column-gap: 31px;
    padding: 1.8rem 0rem 3rem 2.4rem;
  }

  .trademarks-card-title {
    line-height: 134%;
    letter-spacing: -0.5px;
    padding-left: 0;
  }

  .trademarks-card-text {
    font-size: 1.2rem;
    margin-top: 21px;
    letter-spacing: -0.2px;
    line-height: 152%;
    padding-left: 0;
    padding-right: 0;
  }

  .trademark-svg {
    height: 100px;
    width: 100px;
  }

  .founder {
    margin-top: 93px;
    margin-bottom: 0;
  }

  .founder-content {
    padding-top: 10px;
  }

  .founder-title {
    letter-spacing: 0.3px;
    margin-bottom: 13px;
  }

  .founder-text {
    font-size: 1.2rem;
    line-height: 152%;
    word-spacing: 0;
    letter-spacing: -0.1px;
    margin-bottom: 10px;
  }

  .founder-button-link {
    margin-top: 20px;
  }

  .clients {
    margin-top: 101px;
  }

  .clients-title {
    letter-spacing: 0.4px;
  }

  .clients-list {
    columns: 1;
    margin-top: -4px;
    margin-bottom: 3px;
  }

  .clients-list-item {
    font-size: 1.2rem;
    gap: 19px;
    letter-spacing: -0.1px;
  }

  .clients-logo-list {
    padding-top: 0;
  }

  .clients-logo-item {
    flex-basis: 50%;
    padding: 29px 60px;
  }

  .clients-logo {
    width: 50px;
    height: 50px;
  }

  .blog-card {
    min-height: 195px;
    padding: 20px;
  }

  .blog-card-title {
    font-size: 1.7rem;
  }

  .blog-card-text {
    display: none;
  }

  .blog {
    margin-bottom: 0;
  }

  .cta {
    margin-top: 0;
  }

  .section-cta {
    padding-top: 17px;
    margin-top: 8.375rem;
    padding-bottom: 50px;
  }

  .cta-form-title {
    padding-right: 0;
    margin-top: 30px;
  }

  .cta-form-text {
    font-size: 1.2rem;
    margin-top: 14px;
    line-height: 150%;
    word-spacing: -1px;
    margin-bottom: 29px;
  }

  .input-group {
    height: 62px;
  }

  .input-group-label {
    font-size: 14px;
    top: 24px;
    left: 30px;
  }

  .input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
    font-size: 10px;
    top: -6px;
    left: 20px;
  }

  .cta-form-footer {
    flex-direction: column;
    margin-top: 9px;
  }

  .cta-form-button {
    width: 100%;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .notify {
    margin-top: 8px;
    width: 100%;
  }

  .notify-icon {
    margin-right: 2px;
  }

  .notify-text {
    font-size: 12px;
    word-spacing: 0.4px;
    line-height: 156%;
  }

  .footer-top {
    gap: 0px;
    padding-top: 51px;
    padding-bottom: 30px;
  }

  .footer-logo {
    width: 161px;
    height: 50px;
    max-width: 15rem;
  }

  .footer-phone {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .footer-info {
    gap: 10px;
    margin-bottom: 10px;
  }

  .footer-info-address {
    word-spacing: 0.4px;
  }

  .footer-bottom {
    padding-top: 28px;
    padding-bottom: 0;
  }

  .footer-menu-wrapper {
    margin-bottom: 19px;
  }

  .footer-menu-wrapper:last-child {
    margin-bottom: 0;
  }

  .footer-menu-wrapper:last-child .footer-menu-list {
    padding-left: 0;
  }

  .footer-menu-list {
    padding-left: 20px;
  }

  .footer-menu-title {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 166%;
    margin-bottom: 20px;
  }

  .footer-menu-link {
    font-size: 14px;
    line-height: 149%;
    letter-spacing: 0.1px;
  }

  .footer-menu-link-bold {
    margin-bottom: 30px;
    line-height: 157%;
    word-spacing: 1px;
    letter-spacing: 0.3px;
  }

  .footer-social {
    margin-top: 10px;
    margin-left: 0;
    gap: 15px;
  }

  .footer-menu-column-2 {
    columns: 16rem 1;
    min-width: 14.0625rem;
  }

  .footer-separator {
    margin: 0;
  }

  .footer-wrapper {
    padding-top: 21px;
    gap: 11px;
  }

  .footer-legal {
    gap: 9px;
  }

  .modal.is-open .modal-dialog {
    transform: translateY(22px);
  }

  .modal-dialog {
    padding: 30px;
  }

  .modal-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 114%;
    letter-spacing: 0.3px;
    margin-bottom: 0;
  }

  .modal-close {
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
  }

  .close-icon {
    height: 18px;
    width: 18px;
  }

  .modal-text {
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 155%;
    margin-bottom: 20px;
  }

  .input-group-vertical {
    gap: 21px;
  }

  .modal-form-footer {
    margin-top: 20px;
  }

  .modal-form-button {
    margin-bottom: 13px;
  }

  .experts-content {
    padding-left: 0;
  }
  .experts-title {
    max-width: 100%;
  }

  .experts-image {
    width: 345px;
    height: 345px;
  }

  .mission-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .mission-img {
    width: 345px;
    height: 430px;
  }

  .chem-production {
    margin-top: 50px;
  }

  .chem-production-wrapper {
    gap: 0px;
  }

  .chem-production-text {
    font-size: 14px;
  }

  .chem-production {
    margin-top: 100px;
  }

  .chem-manufacturing-content {
    padding-top: 0;
  }

  .chem-manufacturing-title {
    margin-bottom: 10px;
  }

  .chem-manufacturing-text {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .chem-manufacturing-list {
    columns: 1;
    margin-bottom: 0;
  }

  .chem-manufacturing-item {
    gap: 20px;
    font-size: 14px;
  }

  .chemistry-types {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .chemistry-types-title {
    margin-bottom: 10px;
  }

  .chemistry-types-text {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .chemistry-types-list {
    columns: 1;
  }

  .chemistry-types-item {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .chemistry-types-item::before {
    margin-right: 20px;
  }

  .study {
    margin-top: 100px;
  }

  .study-title {
    margin-bottom: 10px;
  }

  .study-text {
    font-size: 14px;
  }

  .study-content {
    margin-bottom: 30px;
  }

  .image-card {
    max-width: 100%;
  }

  .image-buttons {
    margin-top: 20px;
  }

  .seo {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .seo-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .seo-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
